.pagina-principala-body {
    background: #76b852;
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

.top-div {
    display: inline-block;
    background-color: #e6ffe6;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;

}

#pagina-principala-top-title {
    float: right;
    display: inline-block;
    font-size: 80px;
    margin-top: 70px;
    font-size: 65px;
    color: #76b852;
    margin-right: 40px;
}

#logout-button-copil{
    height: 80px;
    width: 120px;
    margin-top: 70px;
    margin-left: 40px;
    font-size: 50px;
    background-color: #e6ffe6;
    color: #76b852;
    border: 0;
}

#pagina-principala-copil-main-list {
    list-style-type: none;
    display: block;
    background: white;
    padding: 0;
    margin: 0;
}



.pagina-principala-copil-main-list-element-name {
    display: inline-block;
    font-size: 60px;
    margin-left: 35px;
    margin-bottom: 40px;
    padding: 0;
    color: white;
}

.pagina-principala-right-arrow {
    float: right;
    font-size: 100px;
    margin-top: 35px;
    margin-right: 35px;
    color: white;
}

#pag-principala-arbore{
    margin-top: 70px;
    text-align: center;
}

.pagina-principala-copil-main-list div {
    border-bottom: 2px solid white;
}