.gest-cheltuieli-body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

.top-div {
    background-color: gray;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;

}

.gest-facturi-back-arrow {
    color: white;
    font-size: 100px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    float: left;
}
#adauga-cheltuieli-top-title{
    display: inline-block;
    margin-top: 60px;
    font-size: 65px;
    color: white;
    margin-left: 80px;
}

.camera-button{
    font-size: 200px;
    margin-top: 50px;
    margin-left: 380px;
    color: white;
}